<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ChinookWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50002/ChinookWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ChinookWebServiceSoap"
        contract="ChinookServiceReference.ChinookWebServiceSoap" name="ChinookWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>